Django
git+https://github.com/TheEnbyperor/django-keycloak-auth@8f8b3f8a6e554acb7aff21ab12ec54c6b59b5197
sentry-sdk
psycopg2-binary
gunicorn
django-crispy-forms
django-countries
django-phonenumber-field[phonenumbers]
django-xff
grpcio
protobuf
django-grpc
djangorestframework
pyyaml
uritemplate
google-api-python-client
google-auth
retry
requests
celery
idna
pyjwt
cryptography
dnspython
django-cockroachdb==3.1.*
