Django<3.2,>=2.2.21
#git+https://github.com/TheEnbyperor/django-keycloak-auth@d0c11a4a5dec5dfc7730256b011bc86260dda5cf
sentry-sdk
psycopg2-binary
gunicorn
django-crispy-forms
django-countries
django-phonenumber-field[phonenumbers]
django-xff
grpcio==1.47.0
protobuf
django-grpc
djangorestframework
pyyaml
uritemplate
google-api-python-client
google-auth
retry
requests
celery
idna
pyjwt
cryptography
dnspython
django-cockroachdb==3.1.*
pika
py-webauthn>=0.0.4
git+https://github.com/AS207960/python-utils@8483c9accd4b343fa29157518871e1acdc679d33
git+https://github.com/TheEnbyperor/oscrypto@macos-fix

