{% extends 'domains/base.html' %}
{% block content %}
    <div class="container my-3">
        <h1>EPP Client</h1>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Domains</h5>
                        <a href="{% url 'admin_domain_info' %}" class="btn btn-primary">Info Query</a>
                        <a href="{% url 'admin_domain_transfer_info' %}" class="btn btn-primary">Transfer Query</a>
                        <a href="{% url 'admin_domain_transfer_request' %}" class="btn btn-primary">Transfer Request</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Balance enquiry</h5>
                        <a href="{% url 'admin_balance' 'switch' %}" class="btn btn-primary">SWITCH</a>
                        <a href="{% url 'admin_balance' 'verisign-tv' %}" class="btn btn-primary">Verisign</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nominet tag list</h5>
                        <a href="{% url 'admin_nominet_tags' %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}