{% extends 'domains/base.html' %}
{% block content %}
    <div class="container my-3">
        <h1>Domains admin</h1>
        <h2>Object management</h2>
        <div class="btn-group mb-3">
            <a href="{% url 'admin_view_domains' %}" class="btn btn-primary btn-lg">View domains</a>
            <a href="#" class="btn btn-primary btn-lg">View contacts</a>
            <a href="#" class="btn btn-primary btn-lg">View contact addresses</a>
        </div>
        <h2>EPP Commands</h2>
        <div class="row">
            <div class="col mt-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Domains</h5>
                        <a href="{% url 'admin_domain_info' %}" class="btn btn-primary mt-1">Info Query</a>
                        <a href="{% url 'admin_domain_transfer_info' %}" class="btn btn-primary mt-1">Transfer Query</a>
                        <a href="{% url 'admin_domain_transfer_request' %}" class="btn btn-primary mt-1">Transfer
                            Request</a>
                    </div>
                </div>
            </div>
            <div class="col mt-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Contacts</h5>
                        <a href="{% url 'admin_contact_info' %}" class="btn btn-primary mt-1">Info Query</a>
                        <a href="{% url 'admin_get_contact_id' %}" class="btn btn-primary mt-1">Get ID</a>
                    </div>
                </div>
            </div>
            <div class="col mt-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Balance enquiry</h5>
                        <a href="{% url 'admin_balance' 'switch' %}" class="btn btn-primary mt-1">SWITCH</a>
                        <a href="{% url 'admin_balance' 'verisign-tv' %}" class="btn btn-primary mt-1">Verisign</a>
                    </div>
                </div>
            </div>
            <div class="col mt-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nominet</h5>
                        <a href="{% url 'admin_nominet_handshake_accept' %}" class="btn btn-primary mt-1">Handshake accept</a>
                        <a href="{% url 'admin_nominet_handshake_reject' %}" class="btn btn-primary mt-1">Handshake reject</a>
                        <a href="{% url 'admin_nominet_release' %}" class="btn btn-primary mt-1">Release</a>
                        <a href="{% url 'admin_nominet_tags' %}" class="btn btn-primary mt-1">Tag list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}