{% extends 'domains/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container my-3">
        <h1>{{ title }}</h1>
        {% if contact_obj %}
            <p>
                {% with owner=contact_obj.get_user %}
                    {% if owner.username == user.username %}
                        <b>Owner:</b> You
                        {% if sharing_uri %}
                            <a href="{{ sharing_uri }}" class="btn btn-info btn-sm">&#x1f91d; Share</a>
                        {% endif %}
                    {% else %}
                        <b>Owner:</b> {{ owner.email }}
                    {% endif %}
                {% endwith %}
            </p>
        {% endif %}
        <hr>
        {% crispy contact_form contact_form.helper %}
    </div>
{% endblock %}