{% extends 'domains/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Delete {{ domain.unicode_domain }}{% endblock %}
{% block content %}
    <div class="container my-3">
        <div class="bg-light p-3 rounded">
            <h1 class="display-4">Delete domain</h1>
            <b>Domain: </b> {{ domain.unicode_domain }}
            <hr class="my-4">
            {% if can_delete %}
            <p>Are you sure you want to delete this domain?</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <a class="btn btn-primary btn-md" href="{{ back_url }}" role="button">Cancel</a>
                    <button type="submit" name="delete" value="true" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Deletion prohibited</h4>
                    <p>The domain's status prohibits deletion</p>
                    <hr>
                    <a class="btn btn-primary btn-md" href="{{ back_url }}" role="button">Go back</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}