{% extends 'domains/base.html' %}
{% block title %}My domains{% endblock %}
{% block content %}
    <section class="stripe">
        <div class="container py-3">
            <div class="bg-light p-3 rounded my-0">
                <h1 class="display-4">My domains</h1>
                <hr class="my-4">
                {% if registration_enabled %}
                    <div class="btn-group">
                        <a class="btn btn-primary btn-lg" href="{% url 'domain_search' %}" role="button">Register a new domain</a>
                        <a class="btn btn-secondary btn-lg" href="{% url 'domain_transfer_query' %}" role="button">Transfer a domain</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="container my-3">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Oh no! &#x1f631;</h4>
                <p>There was an error processing your request</p>
                <hr>
                <p class="mb-0">{{ error }}</p>
            </div>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Domain</th>
                    <th>Creation date</th>
                    <th>Expiry date</th>
                    <th>Last updated</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if domains %}
                    {% for domain in domains %}
                        {% if domain.error %}
                            <tr class="table-dark">
                                <th scope="row">
                                    <del>{{ domain.obj.unicode_domain }}</del>
                                </th>
                                <td colspan="4" class="text-danger">
                                    Unable to contact registry: {{ domain.error }}
                                </td>
                            </tr>
                        {% else %}
                            <tr class="{% if domain.domain.expired %}table-danger {% endif %}">
                                <th scope="row">
                                    {{ domain.domain.unicode_domain }}
                                    {% if domain.domain.expired %}
                                        <span class="badge bg-danger">Expired</span>
                                    {% endif %}
                                    {% for rgp_state in domain.domain.rgp_state %}
                                        <span class="badge bg-info">{{ rgp_state }}</span>
                                    {% endfor %}
                                    {% if 8 in domain.domain.statuses %}
                                        <span class="badge bg-info">Pending delete</span>
                                    {% endif %}
                                </th>
                                <td>{% if domain.domain.creation_date %}{{ domain.domain.creation_date|date:"N jS Y P" }}{% else %}N/A{% endif %}</td>
                                <td>{% if domain.domain.expiry_date %}{{ domain.domain.expiry_date|date:"N jS Y P" }}{% else %}N/A{% endif %}</td>
                                <td>{% if domain.domain.last_updated_date %}{{ domain.domain.last_updated_date|date:"N jS Y P" }}{% else %}N/A{% endif %}</td>
                                <td><a href="{% url 'domain' domain.id %}" class="btn btn-primary btn-sm">&#x1f58a; Edit</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No domains</td>
                    </tr>
                {% endif %}
                </tbody>
        </table>
        </div>
        <hr>
        <h2>Registration orders</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Domain</th>
                    <th>State</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if registration_orders %}
                    {% for domain in registration_orders %}
                        <tr>
                            <th scope="row">
                                {{ domain.unicode_domain }}
                            </th>
                            <td>
                                {% if domain.state == "P" %}
                                    <span class="badge bg-secondary">
                                            &#x23f3; Pending
                                        </span>
                                {% elif domain.state == "T" %}
                                    <span class="badge bg-primary">
                                            &#x1f4c7; Started
                                        </span>
                                {% elif domain.state == "N" %}
                                    <span class="badge bg-warning">
                                            &#x1f4b8; Needs payment
                                        </span>
                                {% elif domain.state == "S" %}
                                    <span class="badge bg-info">
                                            &#x1f4c7; Processing
                                        </span>
                                {% elif domain.state == "A" %}
                                    <span class="badge bg-info">
                                            &#x1f575; Pending approval
                                        </span>
                                {% elif domain.state == "F" %}
                                    <span class="badge bg-danger">
                                             &#x1f645; Failed
                                        </span>
                                {% endif %}
                            </td>
                            <td style="width: 0;">
                                {% if domain.state != "C" and domain.state != "F" %}
                                    <a href="{% url 'domain_register_confirm' domain.id %}" class="btn btn-primary btn-sm">
                                        Continue
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No domain registration orders</td>
                    </tr>
                {% endif %}
                </tbody>
        </table>
        </div>
        <hr>
        <h2>Transfer orders</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Domain</th>
                    <th>State</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if transfer_orders %}
                    {% for domain in transfer_orders %}
                        <tr>
                            <th scope="row">
                                {{ domain.unicode_domain }}
                            </th>
                            <td>
                                {% if domain.state == "P" %}
                                    <span class="badge bg-secondary">
                                            &#x23f3; Pending
                                        </span>
                                {% elif domain.state == "T" %}
                                    <span class="badge bg-primary">
                                            &#x1f4c7; Started
                                        </span>
                                {% elif domain.state == "N" %}
                                    <span class="badge bg-warning">
                                            &#x1f4b8; Needs payment
                                        </span>
                                {% elif domain.state == "S" %}
                                    <span class="badge bg-info">
                                            &#x1f4c7; Processing
                                        </span>
                                {% elif domain.state == "A" %}
                                    <span class="badge bg-info">
                                            &#x1f575; Pending approval
                                        </span>
                                {% elif domain.state == "F" %}
                                    <span class="badge bg-danger">
                                             &#x1f645; Failed
                                        </span>
                                {% endif %}
                            </td>
                            <td style="width: 0;">
                                {% if domain.state != "C" and domain.state != "F" %}
                                    <a href="{% url 'domain_transfer_confirm' domain.id %}" class="btn btn-primary btn-sm">
                                        Continue
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No domain transfer orders</td>
                    </tr>
                {% endif %}
                </tbody>
        </table>
        </div>
        <hr>
        <h2>Renewal orders</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Domain</th>
                    <th>State</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if renew_orders %}
                    {% for domain in renew_orders %}
                        <tr>
                            <th scope="row">
                                {{ domain.unicode_domain }}
                            </th>
                            <td>
                                {% if domain.state == "P" %}
                                    <span class="badge bg-secondary">
                                            &#x23f3; Pending
                                        </span>
                                {% elif domain.state == "T" %}
                                    <span class="badge bg-primary">
                                            &#x1f4c7; Started
                                        </span>
                                {% elif domain.state == "N" %}
                                    <span class="badge bg-warning">
                                            &#x1f4b8; Needs payment
                                        </span>
                                {% elif domain.state == "S" %}
                                    <span class="badge bg-info">
                                            &#x1f4c7; Processing
                                        </span>
                                {% elif domain.state == "A" %}
                                    <span class="badge bg-info">
                                            &#x1f575; Pending approval
                                        </span>
                                {% elif domain.state == "F" %}
                                    <span class="badge bg-danger">
                                             &#x1f645; Failed
                                        </span>
                                {% endif %}
                            </td>
                            <td style="width: 0;">
                                {% if domain.state != "C" and domain.state != "F" %}
                                    <a href="{% url 'renew_domain_confirm' domain.id %}" class="btn btn-primary btn-sm">
                                        Continue
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No domain renewal orders</td>
                    </tr>
                {% endif %}
                </tbody>
        </table>
        </div>
        <hr>
        <h2>Restore orders</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Domain</th>
                    <th>State</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if restore_orders %}
                    {% for domain in restore_orders %}
                        {% if domain.state != "C" %}
                            <tr>
                                <th scope="row">
                                    {{ domain.unicode_domain }}
                                </th>
                                <td>
                                    {% if domain.state == "P" %}
                                        <span class="badge bg-secondary">
                                                &#x23f3; Pending
                                            </span>
                                    {% elif domain.state == "T" %}
                                        <span class="badge bg-primary">
                                                &#x1f4c7; Started
                                            </span>
                                    {% elif domain.state == "N" %}
                                        <span class="badge bg-warning">
                                                &#x1f4b8; Needs payment
                                            </span>
                                    {% elif domain.state == "S" %}
                                        <span class="badge bg-info">
                                                &#x1f4c7; Processing
                                            </span>
                                    {% elif domain.state == "A" %}
                                        <span class="badge bg-info">
                                                &#x1f575; Pending approval
                                            </span>
                                    {% elif domain.state == "F" %}
                                        <span class="badge bg-danger">
                                                 &#x1f645; Failed
                                            </span>
                                    {% endif %}
                                </td>
                                <td style="width: 0;">
                                    <a href="{% url 'restore_domain_confirm' domain.id %}" class="btn btn-primary btn-sm">
                                        Continue
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No domain restore orders</td>
                    </tr>
                {% endif %}
                </tbody>
        </table>
        </div>
        <hr>
        <h2>Deleted domains</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Domain</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if deleted_domains %}
                    {% for domain in deleted_domains %}
                        <tr>
                            <th scope="row">
                                {{ domain.unicode_domain }}
                                {% if domain.pending_restore %}
                                    <span class="badge bg-info">Pending restore</span>
                                {% endif %}
                            </th>
                            <td style="width: 0;">
                                {% if registration_enabled and not domain.pending_restore %}
                                    <a href="{% url 'restore_domain' domain.id %}" class="btn btn-info btn-sm">&#x1f519; Restore</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">No deleted domains</td>
                    </tr>
                {% endif %}
                </tbody>
        </table>
        </div>
    </div>
{% endblock %}