{% extends 'domains/base.html' %}
{% load humanize %}
{% block content %}
    <section class="stripe">
        <div class="container py-3">
            <div class="jumbotron my-0">
                <h1 class="display-4">Domain prices</h1>
                <hr class="my-4">
                <p>
                    These are standard prices, premium domains will be charged differently.
                </p>
                <a href="{% url 'domain_price_query' %}" class="btn btn-info">Lookup exact price</a>
            </div>
        </div>
    </section>
    <div class="container my-3 pt-3 pt-md-5">
        <table class="table table-striped table-hover"  id="domain-prices">
            <thead class="thead-dark">
            <tr>
                <th>Extension</th>
                <th>Registration (per year)</th>
                <th>Renewal (per year)</th>
                <th>Transfer</th>
                <th>Restore</th>
            </tr>
            </thead>
            <tbody>
                {% for domain in domains %}
                    <tr>
                        <th scope="row">.{{ domain.zone }}</th>
                        <td>{{ domain.registration|floatformat:2|intcomma }} {{ domain.currency }}</td>
                        <td>{{ domain.renewal|floatformat:2|intcomma }} {{ domain.currency }}</td>
                        <td>{% if domain.transfer %}{{ domain.transfer|floatformat:2|intcomma }} {{ domain.currency }}{% else %}N/A{% endif %}</td>
                        <td>{% if domain.restore %}{{ domain.restore|floatformat:2|intcomma }} {{ domain.currency }}{% else %}N/A{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        _anyNumberSort = function(a, b, high) {
            var reg = /[+-]?((\d+(\.\d*)?)|\.\d+)([eE][+-]?[0-9]+)?/;
            a = a.replace(',','').match(reg);
            a = a !== null ? parseFloat(a[0]) : high;
            b = b.replace(',','').match(reg);
            b = b !== null ? parseFloat(b[0]) : high;
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        }

        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "any-number-asc": function (a, b) {
                return _anyNumberSort(a, b, Number.POSITIVE_INFINITY);
            },
            "any-number-desc": function (a, b) {
                return _anyNumberSort(a, b, Number.NEGATIVE_INFINITY) * -1;
            }
        });

        $(document).ready( function () {
            $('#domain-prices').DataTable({
                responsive: true,
                pageLength: 25,
                columns: [{
                    type: "string"
                }, {
                    type: "any-number"
                }, {
                    type: "any-number"
                }, {
                    type: "any-number"
                }, {
                    type: "any-number"
                }]
            });
        } );
    </script>
{% endblock %}
