{% extends 'domains/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Transfer a domain{% endblock %}
{% block description %}Transfer your domain Glauca. Quick and painless. Clear pricing.{% endblock %}
{% block content %}
    <section class="stripe">
        <div class="container py-3">
            <div class="jumbotron my-0">
                <h1 class="display-4">Transfer a <span class="text-gradient teal-indigo">domain</span>.</h1>
                <hr class="my-4">
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Error!</h4>
                        <p>There was an error processing your request</p>
                        <hr>
                        <p class="mb-0">{{ error }}</p>
                    </div>
                {% endif %}
                {% crispy domain_form domain_form.helper %}
                <a href="{% url 'domain_prices' %}" class="btn btn-info">Prices</a>
            </div>
        </div>
    </section>
    <div class="container my-3 pt-3 pt-md-5">
        <h2>Want to transfer a domain we don't support yet?</h2>
        <p>
            Drop us an email at <a href="mailto:hello@glauca.digital">hello@glauca.digital</a>, and we'll see what we can sort out for you.
        </p>
    </div>
{% endblock %}
