{% extends 'domains/base.html' %}
{% block title %}Transfer pending{% endblock %}
{% block content %}
    <div class="container my-3">
        <h1>Domain transfer pending</h1>
        <h2 title="Bureaucracy go brrrrrr">Internet bureaucracy in progress &#x1f4dc;</h2>
        <div class="row">
            <div class="col">
                <b>Domain name: </b> {{ domain_name }}
            </div>
        </div>
        <hr>
        <p>
            Your domain transfer is pending further processing and approval. We'll be in touch when we hear more.
            It should be released to us in about 7 days, but we'll be in touch if we expect it to take any longer.
        </p>
        {% if zone.transfer_instructions %}
            <div class="alert alert-primary" role="alert">
                {{ zone.transfer_instructions }}
            </div>
        {% endif %}
        <a href="{% url 'domains' %}" class="btn btn-primary">Continue</a>
    </div>
{% endblock %}