{% extends 'domains/base.html' %}
{% block title %}Order processing{% endblock %}
{% block content %}
    <section class="stripe">
        <div class="container py-3">
            <div class="bg-light p-3 rounded my-0">
                <h1>Domain order processing...</h1>
                <div class="row">
                    <div class="col">
                        <b>Domain name: </b> {{ domain_name }}
                    </div>
                </div>
                <meta http-equiv="refresh" content="5">
            </div>
        </div>
    </section>
    <div class="py-5"></div>
{% endblock %}