{% extends 'domains/base.html' %}
{% block title %}Transfer pending{% endblock %}
{% block content %}
    <div class="container my-3">
        <h1>Domain pending</h1>
        <div class="row">
            <div class="col">
                <b>Domain name: </b> {{ domain_name }}
            </div>
        </div>
        <hr>
        <p>
            Your domain transfer is pending further processing and approval. We'll be in touch when we hear more.
        </p>
        <a href="{% url 'domains' %}" class="btn btn-primary">Continue</a>
    </div>
{% endblock %}