{% extends 'domains/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
    <section class="stripe my-5">
        <div class="container py-3">
            <div class="jumbotron my-0 py-5">
                <h1>Transfer a domain</h1>
                <div class="row">
                    <div class="col">
                        <b>Domain name: </b> {{ domain_name }}
                    </div>
                    <div class="col">
                        <b>Price to transfer: </b> {{ price_decimal|floatformat:2|intcomma }} GBP
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container my-3 pt-3 pt-md-5">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <p>There was an error processing your request</p>
                <hr>
                <p class="mb-0">{{ error }}</p>
            </div>
        {% else %}
            {% crispy domain_form domain_form.helper %}
        {% endif %}
    </div>
{% endblock %}