{% extends 'domains/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ domain.unicode_domain }}{% endblock %}
{% block content %}
    <section class="stripe ">
        <div class="container py-3">
            <div class="bg-light p-3 rounded my-0">
                <h1 class="display-4">
                    {{ domain.unicode_domain }}
                </h1>
                <h4>
                    {% if domain.expired %}
                        <span class="badge bg-danger">Expired</span>
                    {% endif %}
                    {% for rgp_state in domain.rgp_state %}
                        <span class="badge bg-info">{{ rgp_state }}</span>
                    {% endfor %}
                </h4>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Error!</h4>
                        <p>There was an error processing your request</p>
                        <hr>
                        <p class="mb-0">{{ error }}</p>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col">
                        <b>Creation date:</b><br/>
                        {% if domain.creation_date %}{{ domain.creation_date|date:"N jS Y P" }}{% else %}N/A{% endif %}
                    </div>
                    <div class="col">
                        <b>Expiry date:</b><br/>
                        {% if domain.expiry_date %}{{ domain.expiry_date|date:"N jS Y P" }}{% else %}N/A{% endif %}
                    </div>
                    <div class="col">
                        <b>Last updated date:</b><br/>
                        {% if domain.last_updated_date %}{{ domain.last_updated_date|date:"N jS Y P" }}{% else %}
                            N/A{% endif %}
                    </div>
                    <div class="col">
                        <b>Last transfer date:</b><br/>
                        {% if domain.last_transfer_date %}{{ domain.last_transfer_date|date:"N jS Y P" }}{% else %}
                            N/A{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container my-3 pt-3 pt-md-5">
        {% if domain_obj.transfer_out_pending %}
            <div class="alert alert-warning">
                <h4 class="alert-heading">Transfer requested</h4>
                <p>
                    This domain has been requested to be transferred away from us.
                    If you do nothing this will be automatically approved by the registry in about 5 working days from
                    the date of request.
                    You can use the bellow buttons to speed up the process or explicitly reject this request.
                    If you didn't request this please <a href="https://support.as207960.net/new/">contact us</a> immediately.
                </p>
                <hr>
                <div class="btn-group">
                    <a href="{% url 'domain_transfer_out' domain_id 'approve' %}" class="btn btn-success btn-lg">Approve transfer</a>
                    <a href="{% url 'domain_transfer_out' domain_id 'reject' %}" class="btn btn-danger btn-lg">Reject transfer</a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                {% if registrant %}
                    <p>
                        <b>Registered to: </b> {{ registrant }}
                        <a href="{% url 'edit_contact' registrant.id %}" class="btn btn-primary btn-sm">View
                            registrant</a>
                    </p>
                {% endif %}
                {% if domain_info.registrant_change_supported %}
                    {% if domain.can_update %}
                        {% crispy registrant_form registrant_form.helper %}
                    {% endif %}
                {% else %}
                    <p>
                        This TLD has a weird procedure for changing the registrant contact.
                        Please contact us to go through the change procedure.
                    </p>
                {% endif %}
            </div>
            <div class="col">
                <p>
                <div class="btn-group">
                    <a href="{{ sharing_uri }}" class="btn btn-primary">&#x1f91d; Share</a>
                    {% if domain_info.registry == domain_info.REGISTRY_TRAFICOM and 8 in domain.statuses %}
                        <a href="{% url 'restore_domain' domain_id %}" class="btn btn-info">Restore</a>
                    {% else %}
                        {% if registration_enabled %}
                            {% if domain_info.renew_supported and domain.can_renew %}
                                <a href="{% url 'renew_domain' domain_id %}" class="btn btn-success">Renew</a>
                            {% endif %}
                        {% endif %}
                        {% if domain.can_delete %}
                            <a href="{% url 'delete_domain' domain_id %}" class="btn btn-danger">&#x1f5d1; Delete</a>
                        {% endif %}
                        {% if domain.can_update %}
                            <a href="{% url 'domain_regen_transfer_code' domain_id %}" class="btn btn-info">Regenerate
                                transfer code</a>
                        {% endif %}
                        {% if registry_lock_enabled and domain_info.registry_lock_supported %}
                                <a href="{% url 'domain_registry_lock' domain_id %}" class="btn btn-primary">Registry lock</a>
                        {% endif %}
                    {% endif %}
                </div>
                </p>
                {% if domain_info.standard_auth_code_procedure %}
                    <p>
                        <style>
                            .auth-hide {
                                color: transparent;
                                text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                            }

                            .auth-hide:hover {
                                color: initial;
                                text-shadow: none;
                            }
                        </style>
                        <b>Transfer auth code:</b> <span class="auth-hide">{{ domain_obj.auth_info }}</span>
                    </p>
                {% else %}
                    <p>
                        This TLD has a non-standard transfer procedure. Please
                        <a href="https://support.as207960.net/new/">contact us</a> to transfer this domain away from us.
                        We promise we won't hassle you to stay with us.
                    </p>
                {% endif %}
            </div>
        </div>
        <hr>
        <h2>Statuses</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Status name</th>
                </tr>
                </thead>
                <tbody>
                {% if domain.statuses %}
                    {% for status in domain.statuses %}
                        <tr>
                            <td>
                                {{ status }}
                                {% if 3 == status and domain.can_update %}
                                    <form action="{% url 'domain_del_block_transfer' domain_id %}" method="post"
                                          class="d-inline">
                                        {% csrf_token %}
                                        <button class="btn btn-danger btn-sm">Remove</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No statuses</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        {% if 3 not in domain.statuses and domain_info.transfer_lock_supported and domain.can_update %}
            <form action="{% url 'domain_block_transfer' domain_id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-info">Block transfer</button>
            </form>
        {% endif %}
        <hr>
        <h2>Contacts</h2>
        <div class="row">
            <div class="col">
                <h3>Admin</h3>
                <p>
                    {% if admin %}
                        {{ admin }}
                        <a href="{% url 'edit_contact' admin.id %}" class="btn btn-primary btn-sm">View contact</a>
                    {% else %}
                        No admin contact defined
                    {% endif %}
                </p>
                {% if domain.can_update %}
                    {% crispy admin_contact_form admin_contact_form.helper %}
                {% endif %}
            </div>
            <div class="col">
                <h3>Billing</h3>
                <p>
                    {% if billing %}
                        {{ billing }}
                        <a href="{% url 'edit_contact' billing.id %}" class="btn btn-primary btn-sm">View contact</a>
                    {% else %}
                        No billing contact defined
                    {% endif %}
                </p>
                {% if domain.can_update %}
                    {% crispy billing_contact_form billing_contact_form.helper %}
                {% endif %}
            </div>
            <div class="col">
                <h3>Technical</h3>
                <p>
                    {% if tech %}
                        {{ tech }}
                        <a href="{% url 'edit_contact' tech.id %}" class="btn btn-primary btn-sm">View contact</a>
                    {% else %}
                        No technical contact defined
                    {% endif %}
                </p>
                {% if domain.can_update %}
                    {% crispy tech_contact_form tech_contact_form.helper %}
                {% endif %}
            </div>
        </div>
        <hr>
        <h2>DNS Servers</h2>
        {% if domain_info.registry == domain_info.REGISTRY_DENIC %}
            <div class="alert alert-info" role="alert">
                DENIC handles DNS severs in a weird way,
                please see <a href="https://docs.glauca.digital/domains/denic-ns/" class="alert-link">our advice</a>
                if you're having issues.
            </div>
        {% endif %}
        {% if domain.can_update or is_hexdns %}
            <div class="row">
                <div class="col my-2">
                    <div class="btn-group">
                        {% if domain.can_update %}
                            <a href="{% url 'delete_domain_host_obj' domain_id "all" %}" class="btn btn-danger btn-sm">
                                &#x1f5d1; Delete all
                            </a>
                        {% endif %}
                        {% if not is_hexdns %}
                            {% if domain.can_update %}
                                <a href="{% url 'setup_domain_hexdns' domain_id %}" class="btn btn-primary btn-sm">
                                    &#x1f4df; Setup for HexDNS
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'setup_domain_hexdns' domain_id %}" class="btn btn-secondary btn-sm">
                                &#x1f440; View in HexDNS
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Host</th>
                    <th>Address</th>
                    <th>Address type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if domain.name_servers %}
                    {% for ns in domain.name_servers %}
                        {% if ns.host_obj %}
                            <tr>
                                <th>{{ ns.unicode_host_obj }}</th>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>
                                    {% if domain.can_update %}
                                        <a href="{% url 'delete_domain_host_obj' domain_id ns.host_obj %}"
                                           class="btn btn-danger btn-sm">&#x1f5d1; Delete</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% elif ns.host_name %}
                            {% for addr in ns.addresses %}
                                <tr>
                                    <th>{{ ns.unicode_host_name }}</th>
                                    <td>{{ addr.address }}</td>
                                    <td>{{ addr.ip_type }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No DNS servers</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        {% if domain.can_update %}
            <div class="row">
                <div class="col">
                    <h2>Add DNS server</h2>
                    {% crispy host_object_form_set host_object_form_set.helper %}
                </div>
                {#            <div class="col">#}
                {#                <h2>Add server directly</h2>#}
                {#                {% crispy host_addr_form host_addr_form.helper %}#}
                {#            </div>#}
            </div>
        {% endif %}
        <hr>
        <h2>Associated host objects (glue records)</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Host</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if hosts %}
                    {% for host in hosts %}
                        <tr>
                            <th>{{ host.unicode_name_server }}</th>
                            <td><a href="{% url 'host' host.id %}" class="btn btn-primary btn-sm">Edit</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">No hosts</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <h3>Create a new host object</h3>
        {% crispy new_host_form new_host_form.helper %}
        <hr>
        <h2>DNSSEC data</h2>
        {% if domain.sec_dns %}
            <div class="row">
                <div class="col">
                    <p>
                        <b>Max signature life:</b>
                        {% if domain.sec_dns.max_sig_life %}
                            {{ domain.sec_dns.max_sig_life }}
                        {% else %}
                            N/A
                        {% endif %}
                    </p>
                </div>
                <div class="col">
                    <p>
                        {% if domain.can_update %}
                            <a href="{% url 'delete_domain_sec_dns' domain_id %}" class="btn btn-danger btn-sm">&#x1f5d1;
                                Disable DNSSEC</a>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% if domain.sec_dns.ds_data != None %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th>Key tag</th>
                            <th>Algorithm</th>
                            <th>Digest type</th>
                            <th>Digest</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if domain.sec_dns.ds_data %}
                            {% for ds_data in domain.sec_dns.ds_data %}
                                <tr>
                                    <th>{{ ds_data.key_tag }}</th>
                                    <td>{{ ds_data.algorithm }}</td>
                                    <td>{{ ds_data.digest_type }}</td>
                                    <td>{{ ds_data.digest }}</td>
                                    <td>
                                        {% if domain.can_update %}
                                            <form action="{% url 'delete_domain_ds_data' domain_id %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="key_tag" value="{{ ds_data.key_tag }}">
                                                <input type="hidden" name="algorithm" value="{{ ds_data.algorithm }}">
                                                <input type="hidden" name="digest_type"
                                                       value="{{ ds_data.digest_type }}">
                                                <input type="hidden" name="digest" value="{{ ds_data.digest }}">
                                                <button type="submit" class="btn btn-danger btn-sm">
                                                    &#x1f5d1; Delete
                                                </button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">No DS records</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                {% if domain.can_update %}
                    {% crispy ds_form ds_form.helper %}
                {% endif %}
            {% elif domain.sec_dns.key_data != None %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th>Flags</th>
                            <th>Protocol</th>
                            <th>Algorithm</th>
                            <th>Public key</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if domain.sec_dns.key_data %}
                            {% for ds_data in domain.sec_dns.key_data %}
                                <tr>
                                    <th>{{ ds_data.flags }}</th>
                                    <td>{{ ds_data.protocol }}</td>
                                    <td>{{ ds_data.algorithm }}</td>
                                    <td>{{ ds_data.public_key }}</td>
                                    <td>
                                        {% if domain.can_update %}
                                            <form action="{% url 'delete_domain_dnskey_data' domain_id %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="flags" value="{{ ds_data.flags }}">
                                                <input type="hidden" name="protocol" value="{{ ds_data.protocol }}">
                                                <input type="hidden" name="algorithm" value="{{ ds_data.algorithm }}">
                                                <input type="hidden" name="public_key" value="{{ ds_data.public_key }}">
                                                <button type="submit" class="btn btn-danger btn-sm">
                                                    &#x1f5d1; Delete
                                                </button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">No DNSKEY records</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                {% if domain.can_update %}
                    {% crispy dnskey_form dnskey_form.helper %}
                {% endif %}
            {% endif %}
        {% else %}
            <p>
                No DNSSEC data exists for this domain.
            </p>
            {% if domain.can_update %}
                <h3>Enable DNSSEC</h3>
                {% if not domain_info.ds_data_supported %}
                    {% crispy dnskey_form dnskey_form.helper %}
                {% else %}
                    {% crispy ds_form ds_form.helper %}
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}