{% extends "domains/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}
{% block description %}Domains from Glauca. Clear pricing. No fuss interface. Built for techies.{% endblock %}
{% block content %}
    <section class="stripe">
        <div class="container py-3">
            <div class="bg-light rounded p-3 my-0">
                <h1 class="display-4">Glauca <span class="text-gradient teal-indigo">Domains</span>.</h1>
                <hr class="my-4">
                <div class="btn-group">
                    {% if user.is_authenticated %}
                        <a class="btn btn-primary btn-lg" href="{% url 'domains' %}" role="button">Manage your
                            domains</a>
                    {% else %}
                        <a class="btn btn-primary btn-lg" href="{% url 'oidc_login' %}" role="button">Login to manage
                            your domains</a>
                    {% endif %}
                    <a class="btn btn-info btn-lg" href="{% url 'domain_prices' %}" role="button">Our prices</a>
                </div>
                {% if registration_enabled %}
                    <hr>
                    <div class="btn-group">
                                <a class="btn btn-success btn-lg" href="{% url 'domain_search' %}" role="button">Register a new domain</a>
                                <a class="btn btn-secondary btn-lg" href="{% url 'domain_transfer_query' %}" role="button">Transfer a domain</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="container my-3 pt-3 pt-md-5">
        <h1>Search for your <span class="text-gradient pink-red">perfect</span> domain<span class="text-gradient pink-red">.</span></h1>
        <div class="row">
            <div class="col d-flex flex-column justify-content-between mt-3">
                <h4>Looking for a personal site?</h4>
                <a href="{% url 'suggest_personal_domain' %}" class="btn btn-primary btn-lg btn-block">
                    Personal domain finder
                </a>
            </div>
            <div class="col d-flex flex-column justify-content-between mt-3">
                <h4>Already have an online presence, but need a domain?</h4>
                <a href="{% url 'suggest_online_domain' %}" class="btn btn-primary btn-lg btn-block">
                    Online presence search
                </a>
            </div>
            <div class="col d-flex flex-column justify-content-between mt-3">
                <h4>Got something in mind already?</h4>
                <a href="{% url 'suggest_domain' %}" class="btn btn-primary btn-lg btn-block">
                    Domain suggestions
                </a>
            </div>
        </div>
    </div>
    <div class="container my-3">
        <h1>No <span class="text-gradient purple-pink">idea</span> where to start<span class="text-gradient purple-pink">?</span></h1>
        <noscript>
            <p>
                Unfortunately this requires JavaScript to be enabled, sorry.
            </p>
        </noscript>
        <name-studio api-key="0c0b5c77ab961788c00ddc8668b1de9d" env="prod">
            <script type="application/json" data-type="name-studio">
                {
                    "i18n": {
                        "en": {
                            "namestudio-status": {
                                "btnregister": "Register",
                                "btnnotavailable": "Unavailable"
                            },
                            "namestudio-segment": {
                                "headerprefixes": "Add a prefix",
                                "headersuffixes": "Add a suffix"
                            }
                        }
                    },
                    "tlds": {{ tlds|safe }},
                    "cart-url": "{{ register_url }}",
                    "cart-method": "get",
                    "styles": {
                        "colors": {
                            "base": "#f7fafc",
                            "accents": "#3182ce",
                            "availability": "#38a169",
                            "errors": "#e53e3e"
                        }
                    },
                    "version": {
                        "actual": "1.10.2-beta",
                        "major": "1.0"
                    }
                }
            </script>
        </name-studio>
        <script>
            window.addEventListener('name-studio.verisign', function (evt) {
                var detail = evt.detail;
                var api = evt.target.api;
                if (detail.type === "ready") {
                    api.subscribe(api.phases.RESULT_READY, function (evt) {
                        evt.value.forEach(function (domain) {
                            var data = new FormData();
                            data.append('domain', domain);
                            data.append('action', 'register');
                            fetch("{% url 'internal_check_price' %}", {
                                method: "POST",
                                body: data,
                                credentials: 'same-origin',
                                headers: {
                                    "X-CSRFToken": "{{ csrf_token }}"
                                }
                            }).then(function (res) {
                                return res.json();
                            }).then(function (data) {
                                api.pricing.setPrice(domain, data.price, data.currency, null, data.message);
                            });
                        });
                    })
                }
            })
        </script>
    </div>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "url": "https://domains.glauca.digital",
          "potentialAction": [{
            "@type": "SearchAction",
            "target": "https://domains.glauca.digital/domains/suggest/?domain={search_term_string}",
            "query-input": "required name=search_term_string"
          }]
        }
    </script>
{% endblock %}
