{% extends 'domains/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}
    <div class="container my-3">
        <div class="jumbotron">
            <h1 class="display-4">Renew domain</h1>
            <p>
                <b>Domain: </b> {{ domain.domain }}<br/>
                <b>You will be charged: </b> {{ price_decimal|floatformat:2|intcomma }} GBP
            </p>
            <hr class="my-4">
            <p>Are you sure you want to renew this domain?</p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="btn-group">
                    <button type="submit" name="order" value="false" class="btn btn-secondary">
                        Cancel
                    </button>
                    <button type="submit" name="order" value="true" class="btn btn-primary">
                        Renew
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}