{% extends "domains_email/email_base.html" %}
{% block content %}
    <table style="border-spacing: 0;">
        <tr>
            <td>
                <p>
                    We have received your (or your DNS operator's) request to disable DNSSEC for the
                    domain {{ domain.domain }}
                    via CDS. Our shark minions have now processed this.
                </p>
                <p>
                    For the sneaky techy deets go read <a href="https://tools.ietf.org/html/rfc8078">RFC8078</a>
                </p>

            </td>
            <td>
                <img src="https://as207960.net/assets/img/shark-heart.png" height="100" alt=""/>
            </td>
        </tr>
    </table>
{% endblock %}