{% extends "domains_email/email_base.html" %}
{% block content %}
    <table style="border-spacing: 0;width:100%;">
        <tr>
            <td>
                <p>
                    The following domains have been successfully renewed. No further action is required on your part.
                </p>
                <ul>
                    {% for domain in domains %}
                        <li>{{ domain.domain.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <img src="https://as207960.net/assets/img/shark-heart.png" height="100" alt=""/>
            </td>
        </tr>
    </table>
{% endblock %}