{% extends "domains_email/email_base.html" %}
{% block content %}
    <p>
        Your domain {{ domain }} has been transferred away from us.<br/>
        We're sorry to see you leave. If you'd like to, please give us some feedback at the below link.<br/>
        We will no longer charge you for the domain renewal and you can no longer manage the domain through
        us. You will have deal with your new registrar to manage your domain.
    </p>
    <p>
        If you didn't request this please contact us urgently by replying to this email.
    </p>
{% endblock %}
