{% extends "domains_email/email_base.html" %}
{% block content %}
    <table style="border-spacing: 0;width:100%;">
        <tr>
          <td>
            <p>
                Your order for the registration of the domain {{ domain }} has succeeded.<br/>
                Thank you for choosing to register with us!<br/>
                You can now manage the domain from the domains control panel.
            </p>
          </td>
          <td>
            <img src="https://as207960.net/assets/img/shark-heart.png" height="100" alt=""/>
          </td>
        </tr>
    </table>
{% endblock %}